<!DOCTYPE html>
<html>
  <head>
    <title>모바일 화면</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <style>
      .googleLogin {
        width: 200px;
        display: block;

        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <header><%- include('./base/top.ejs') %></header>
    <main>
      <div class="keydockLogo">유키독</div>
      <div class="keydockCharacter">키독이 캐릭터</div>

      <img class="googleLogin" src="/image/googleLoginButton.jpeg" />
    </main>
  </body>
</html>
