<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <title>유저정보</title>
    <style>
     

      .inputBox {
        margin-top: 20px;
        /* background-color: brown; */
      }
      .submitBotton {
        background-color: aquamarine;
        display: block;
        margin: 50px auto 0 auto;
      }

      .margin {
        /* background-color: bisque; */
        display: block;
        margin: none auto none auto;
          text-align: center;
          font-size: 16px;

      }
    </style>
    <script>
      window.onload = function() {

      const nicknameInput = document.querySelector('#nickname')
      const birthdayInput = document.querySelector('#birthday')
      const genderInputs = document.querySelectorAll('#gender');
      const submitButton = document.querySelector('input[type="submit"]');
      
      const nicknameVerify = document.querySelector('#nicknameVerify')
      const birthdayVerify = document.querySelector('#birthdayVerify')
 

      // console.log(nicknameInput);
        function verifyNickname(nickname){
          const regex = /^[a-zA-Z0-9가-힣]{2,16}$/;
          if(regex.test(nickname)){
            nicknameVerify.textContent = "사용가능한 닉네임이에요!"
            nicknameVerify.style.color = 'green' 
            return true
          }
          else{
            nicknameVerify.textContent = "사용할 수 없는 닉네임이에요."
            nicknameVerify.style.color = 'red'
            return false
          }
        }

        function verifyBirthday(birthday){
          const now = new Date(Date.now())
          const birth = new Date(birthday)

          const age = now.getFullYear() - birth.getFullYear() 

          if(age < 10){
            return '어린이'
          }
          if(age < 20){
            return '10대'
          }
          if(age < 30){
            return '20대'
          }
          if(age < 40){
            return '30대'
          }
          if(age < 50){
            return '40대'
          }
          if(age < 60){
            return '50대'
          }
          return '60대 이상'
        }

         // 모든 입력 요소의 값이 채워졌는지 확인하는 함수
        function validateForm() {
          const checkInputValue = () => {
            if (nicknameInput.value.trim() === ''){
              return false
            } 
            if(!verifyNickname(nicknameInput.value.trim())){
              return false
            } 
            
            if(birthdayInput.value.trim() === '') {
              return false
            }
            const ageData = verifyBirthday(birthdayInput.value.trim())
            birthdayVerify.textContent = ageData
            // birthdayInput
            let genderTrueCount = 0
            for(let idx in genderInputs){
              if(genderInputs[idx].checked){
                genderTrueCount++
              }
              
            }
            if(genderTrueCount !== 1){
              return false
            }
            return true

          }
          checkInputValue()
          ?submitButton.disabled = false // Submit 버튼 비활성화
          :submitButton.disabled = true; // Submit 버튼 비활성화
          
         
        }

        // 입력 요소의 값이 변경될 때마다 validateForm() 함수 호출
        nicknameInput.addEventListener('input', validateForm );
        birthdayInput.addEventListener('input', validateForm);
        // jobInput.addEventListener('change', validateForm);
        for (let i = 0; i < genderInputs.length; i++) {
          genderInputs[i].addEventListener('change', validateForm);
        }
        }
    </script>
  </head>
  <body>
    <header><%- include('./base/top.ejs') %></header>
    <%- include('./character/keydock.ejs') %>
    <form action="/auth" method="post">
    <div>
      <div  class="margin">
      닉네임 <br />
        <input id="nickname" placeholder="dd" type="text" name="nickname" /><br />
        <div id="nicknameVerify" >닉네임을 입력해주세요.
              

        </div>
      </div>

      <div  class="inputBox margin">
        생년월일 <br /> 
        <input id="birthday"  type="date" name="birthday" /><br />
        <div id="birthdayVerify" >생년월일을 입력해주세요.</div>

      </div>

      <div id="job" class="inputBox margin">
        직무 <br />
        <input  type="checkbox" name="job" /><br />
      </div>

      <div  class="inputBox">
        <div class="margin">
        성별 <br>
        </div>
          <div  class="margin">
          <label>
            <input id="gender" type="checkbox" name="gender" value="man" /> 남자
          </label>
          
          <label>
            <input id="gender" type="checkbox" name="gender" value="women" /> 여자
          </label>
          
          <label>
            <input id="gender" type="checkbox" name="gender" value="none" /> 선택 안함
          </label>
          </div>
        </div>
        <div>
          <input disabled="false" class="submitBotton" type="submit" value="제출!" />
        </div>
      </form>
    </div>
  </body>
</html>
